[mysqld]
default-authentication-plugin=mysql_native_password
log_error=/var/log/mysql/error.log
long_query_time=1
mysqlx=OFF
skip-networking=true
slow_query_log_file=/var/log/mysql/slow.log
slow_query_log=ON
socket=/var/run/mysqld/mysqld.sock
# bind-address=127.0.0.1
# mysqlx-bind-address=127.0.0.1
